@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v20-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v20-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --color-light: #FFFFFF;
  --color-black: #333333;
  --color-bg: #000;
  --color-graph: #CCB26E;
  --color-twin: #FF5C00;
  --color-twin-inactive: #ff5e00c0;
  --color-green: #34C759;
  --color-orange: #E6B127;
  --color-red: #F06A4D;
  --color-firm: #9873FF;
  --color-secondery: #B89EFF;
  --color-grey: #C8C5D1;
  --color-txt_grey:#B0B0B0;
  --color-black: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  background-repeat: no-repeat;
}

.body {
  font-size: 14px;
  line-height: 19px;
  font-family: 'Open Sans';
  color: var(--color-txt_grey);
  background-color: #F5F5F5;
}

.main-section {
  padding-top: 40px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1216px;
}

.link-reset {
  line-height: 1;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: var(--font-color);
}


.main-title {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  color: var(--color-black)
}

.flex {
  display: flex;
  justify-items: center;
  align-items: center;
}


/* header */

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: var(--color-light);
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.form-container {
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  min-width: 581px;
  outline: none;
  background-color: var(--color-light);
}

.input::placeholder {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--color-txt_grey);
}

.form-title {
  margin-right: 50px;
  font-size: 36px;
  font-weight: 600;
  color: var(--color-twin);
}


.logo {
  line-height: 0;
}

.header__logo {
  margin-right: 53px;
}

/* table */

.table {
  margin-bottom: 40px;
  text-align: left;
  background-color: #F5F5F5;
  border-collapse: collapse;
  color: var(--color-black);
}

.table__sort {
  position: relative;
  padding: 10px 10px;
  color: var(--color-txt_grey);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  cursor: pointer;
  background-color: #F5F5F5;
  transition: color .3s ease-in-out;
}

.table__row td {
  padding: 10px 20px;
  background-color: var(--color-light);
}

.table__sort  th {
  position: relative;
  padding: 10px 10px;
  color: var(--color-txt_grey);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  cursor: pointer;
  background-color: #F5F5F5;
  transition: color .3s ease-in-out;
}

.table__sort:hover {
  color: var(--color-black);
}

.table__main {
  background-color: var(--color-light)
}

.table-col {
  padding: 10px 10px;
  width: 100%;
  border-bottom: 1px solid var(--color-grey);
}

.table-coll {
  flex: auto;
}

.table__row .table__contacts {
  padding-bottom: 3px;
  max-width: 147px;
}


.table__table-sort-icon {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  color: var(--color-firm);
}

.table-col__date,
.table-col__hours {
  display: inline-flex;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--color-black);
}

.table-col__hours{
  color: var(--color-txt_grey);
}

.table-sort-icon__svg {
  display: flex;
  justify-content: start;
  align-items: center;
  opacity: 0.7;
}

.table-sort-icon__svg path {
  fill: currentColor;
}

.table__table-sort-text {
  display: none;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  opacity: 0.7;
  transition: opacity .3s ease;
}

.table__table-sort-text--active {
  display: block;
}

.table__sort .sort-a,
.table__sort .sort-b {
  color: var(--color-firm);
}

.text-sort-b {
  display: block;
}

.text-sort-a {
  display: none;
}

.sort-a .text-sort-a{
  display: block;
}

.sort-a .text-sort-b {
  display: none;
}

.sort-a .table__table-sort-text,
.sort-b .table__table-sort-text,
.table__sort:hover .table-sort-icon__svg,
.sort-a .table-sort-icon__svg,
.sort-b .table-sort-icon__svg,
.table__sort:hover .table__table-sort-text
 {
  opacity: 1;
}

.sort-a .table-sort-icon__svg {
  transform: rotate(-180deg);
}

.table__sort:hover {
  color: var(--color-black);
}


.addForm-label {
  position:relative;
}


.table-col__id {
  color: var(--color-txt_grey);
}

.input-error {
  position: absolute;
  top: -20px;
  left: 20px;
  font-size: 16px;
  color: #FF5C00;
}

.error-date {
  left: 10px;
  font-size: 11px;
}

.addForm-input--error {
  outline: 2px solid var(--color-twin);
}

.table-col__btn {
  margin-bottom: 5px;
  padding: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
}

.btn-more {
  position: relative;
}

.btn-more__text {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: 'Open Sans';
  font-size: 8px;
  line-height: 11px;
  font-weight: 600;
}

.btn-more span {
  width: 16px;
  height: 16px;
}

.table-col__btn svg {
  opacity: 0.7;
  transition: opacity .3s ease;
}

.table-col__btn:hover svg {
  opacity: 1;
}

.table-col__btn:not(:nth-child(5n)) {
  margin-right: 3px;
}

.table__contacts .table-col {
  display: flex;
  flex-wrap: wrap;
  max-width: 115px;
}


.table-active__btn {
  display: flex;
  align-items: center;
  outline: none;
  transition: color .3s ease;
}

.table-active__btn svg {
  opacity: 0.7;
}

.btn-edit:focus-visible ,
.btn-edit:hover,
.btn-edit:active  {
  color: var(--color-firm);
}

.btn-cancel:focus-visible ,
.btn-cancel:hover,
.btn-cancel:active  {
  color: var(--color-red);
}

.table-active__btn:active .table-active__btn-defoult-icon {
  display: none;
}

.table-active__btn:active .table-active__btn-load-icon {
  display: block;
}


.btn-edit {
  margin-right: 30px;
}

.table-active__btn-group {
  display: flex;
}

.table-active__btn-load-icon {
  display: none;
}

.add-contact {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 11.5px 26.9px;
  border: 1px solid var(--color-firm);
  outline: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-firm);
  transition: background-color .3s ease, color .3s ease;
}

.add-contact svg path {
  fill: currentColor;
}

.add-contact svg {
  margin-right: 10px;
}

.add-contact:focus-visible,
.add-contact:hover {
  color: var(--color-light);
  background-color: var(--color-secondery);
}

.add-contact:active {
  color: var(--color-light);
  background-color: var(--color-firm);
}

.tippy-content {
  max-width: 264px;
  padding: 7px 11px 8px 11px;
  text-align: center;
  font-family: 'Open Sans', sans-serif  ;
  font-size: 12px;
  line-height: 16px;
  background-color: var(--amethyst-color);
}

.tippy-box[data-theme~='main'] {
  color: var(--white-color);
}

.tippy-box[data-theme~='main'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--amethyst-color);
}
