/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('assets/fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('assets/fonts/open-sans-v27-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/open-sans-v27-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('assets/fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --amethyst-color: #9D5CD0;
  --black-color: #000;
  --grey-color: #828282;
  --time-anim: .3s ease;
}

* {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}

.btn {
  padding: 0;
  margin: 0;
  min-width: 44px;
  min-height: 44px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link-reset {
  line-height: 1;
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  transition: padding var(--time-anim);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

/* modal */

body.lock {
  overflow: hidden;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity .8s ease, visibility .8s ease;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.modal {
  &_open {
    opacity: 1;
    visibility: visible;
  }
  &_open .modal__content {
    transform:  scale(1);
    opacity: 1;
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    min-height: 100%;
  }
  &__content {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--white-color);
    color: var(--text-color);
    opacity: 0;
    transform: scale(0.3);
    transition: opacity .8s ease, transform .8s ease;
  }
  &_pict-box {
    width: 400px;
    height: 500px;
  }
  &__pict {
    font-size: 0;
  }
  &__pict img {
    object-fit: cover;
    max-width: 100%;
  }
  &__card {
    position: relative;
    padding: 121px 50px;
    width: 500px;
    height: 500px;
  }
  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    padding: 20px;
  }
  &__title {
    font-size: 24px;
    line-height: 27px;
    font-weight: 600;
    margin-bottom: 2px;
  }
  &__pict-caption {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 2px;
  }

  &__pict-date {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin-bottom: 41px;
    color: #969696;
  }

  &__descr {
    overflow-x: hidden;
    overflow-y: auto;
    height: 267px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
  }

  &_display {
    display: block;
  }

}

/* header */

.header {
  margin-bottom: 26px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  &__container {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 29px;
    align-items: center;
  }

  &__logo {
    margin-right: auto;
  }
}

.logo {
  width: 65px;
  height: 16px;
  outline: none;
  transition: opacity var(--time-anim), transform var(--time-anim);
  &:hover {
    opacity: .7;
  }
  &:focus-visible {
    opacity: 0.8;
    outline: 1px solid var(--black-color);
  }
  &:active {
    transform: scale(1.2);
  }
}

.control {
  display: flex;
  &__item:not(:last-child) {
    margin-right: 24px;
  }
}

.control-link {
  position: relative;
  outline: none;
  border-radius: 50%;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-color);
  transition: color var(--time-anim),;
  &__icon {
    transition: stroke var(--time-anim);
  }
  &::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    transition: opacity var(--time-anim);
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    z-index: -1;
    background-color: var(--amethyst-color);
  }
  &:hover .control-link__icon{
    stroke: white;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
  &:focus-visible {
    &::before {
      opacity: 1;
    }
  }
  &:focus-visible .control-link__icon {
    stroke: white;
  }
  &:active {
    opacity: .6 ;
  }
}

.control-link:focus-visible::before {
  opacity: 1;
}

.simplebar-content {
  flex-direction: row;
}

.top-content__container {
  display: flex;
}


.left-box {
  margin-right: 8px;
  width: calc(50% - 8px);
  &__image {
    height: 878px;
    width: 686px;
  }

  &__slider {
    position: relative;
  }

  &__mini-image-slider {
    position: absolute;
    top: 26px;
    left: 26px;
    height: 483px;
  }

  &__mini-image {
    width: 70px;
    height: 91px;
  }
}

.right-box {
  margin-left: 8px;
  width: calc(50% - 8px);
}



.rating {
  margin-left: 9px;
  margin-right: 3px;
  letter-spacing: 0;
  min-width: 60px;
  & img {
    margin-right: -1.7px;
  }
}

.product-card {
  padding: 22px 20px;
  &__caption {
    margin-bottom: 9px;
  }

  &__partnumber {
    margin: 0;
    margin-bottom: 17px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: var(--grey-color);
  }

  &__rate {
    margin-bottom: 46px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
  }
}
.rate-link {
  display: inline-flex;
  position: relative;
  transition: opacity var(--time-anim), color var(--time-anim);
  outline: none;
  &:after {
    position: absolute;
    content: '';
    bottom: -1px;
    width: 0px;
    height: 1px;
    display: block;
    background: currentColor;
    transition: width var(--time-anim);
  }
  &:hover::after {
    width: 85%;
  };
  &:focus-visible {
    color: var(--amethyst-color);
    outline: 1px solid currentColor;
  }
  &:active {
    color: var(--amethyst-color);
    opacity: 0.8;
  }
  &__icon {
    margin-left: 7px;
  }

  &__icon path {
    stroke: currentColor;
  }

}



.price {
  &__top-container {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }

  &__total-price {
    margin-right: 12px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__initial-price {
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: var(--grey-color);
    text-decoration-line: line-through;
  }
  &__down-container {
    margin-bottom: 33px;
  }
}

.price-down {
  &__price-mod {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 7px;
    border: 1px solid var(--black-color);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    &:not(:last-child) {
      margin-right: 5px;
    }
}
}

.product-card__size {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 315px;
  margin-bottom: 40px;
}
.choices {
  width: 100%;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -.5px;
}

.choices[data-type*=select-one]:after {
  top: 38%;
  right: 15px;
  height: 8px;
  width: 8px;
  border-width: 0px;
  border-right: 1px solid var(--black-color);
  border-top: 1px solid var(--black-color);
  transform: rotate(135deg);
  transition: transform var(--time-anim);
}

.choices[data-type*=select-one].is-open:after {
  top: 62%;
  right: 14px;
  border-width: 0px;
  border-right: 1px solid var(--black-color);
  border-top: 1px solid var(--black-color);
  transform: rotate(-45deg);
  transition: transform var(--time-anim), border var(--time-anim);
}

.choices__list--single {
  padding: 0;
}

.choices__list--dropdown .choices__list .is-selected {
  display: none;
}

.choices__inner,
.is-open .choices__inner {
  position: relative;
  border: 1px solid var(--white-color);
  padding: 3px 10.5px 5px 13.75px;
  min-height: 36px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
  background-color: var(--white-color);
  z-index: 1;
  transition: border var(--time-anim), background-color var(--time-anim);
}

.choices__list--single {
  padding-bottom: 2px;
}

.choices__placeholder {
  opacity:  1;
}

.choices__list.choices__list--dropdown.is-active  {
  transition: visibility 5s ease;
}


.choices__list--dropdown,
.is-open .choices__list--dropdown {
  border: 1px solid var(--black-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color);
  z-index: 1;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__inner, .is-open .choices__inner {
  position: relative;
  border: 1px solid var(--black-color);
  padding: 3px 10.5px 5px 13.75px;
  min-height: 36px;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-color);
  z-index: 1;
  transition: border var(--time-anim), background-color var(--time-anim);
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 4px;
}

.choices__list--dropdown .choices__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px 2px 20px;
  transition: background-color var(--time-anim), color var(--time-anim), border var(--time-anim);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:not(:first-child) {
  border-top: 1px solid var(--grey-color);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted + .choices__item {
  border-top: 1px solid var(--grey-color);
}

.choices__list--dropdown .choices__item:not(:first-child) {
  padding-top: 3px;
  border-top: 1px solid transparent;
}

.choices__list--dropdown .choices__item+ .choices__item {
  border-top: 1px solid transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {

  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.2);
}

.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  transition: opacity var(--time-anim), color var(--time-anim);
  outline: none;
  &:hover {
    opacity: .5;
  }
  &:focus-visible {
    outline: 1px solid var(--amethyst-color);
  }
  &:active {
    color: var(--amethyst-color);
  }
}
.counter {
  display: inline-flex;
  align-items: center;
  width: 145px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  &__btn {
    outline: none;
    transition: background-color var(--time-anim), opacity var(--time-anim), color var(--time-anim);
    &:hover {
      background-color: var(--amethyst-color);
      color: white;
    }
    &:focus-visible {
      background-color: var(--amethyst-color);
      color: white;
      opacity: .5;
    }
    &:active {
      opacity: .5;
    }
  }
  &__btn,
  &__display {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    min-width: initial;
    width: 33%;
  }
  &__display {

    height: 100%;
  }

}

.card-btns {
  display: flex;
  margin-bottom: 12px;
}
.card-btns__add,
.card-btns__chosen {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  padding: 12px 28px;
  outline: none;
  background-color: var(--black-color);
  transition: opacity var(--time-anim), background-color var(--time-anim);
  &:hover {
    opacity: .5;
  }
  &:focus-visible {
    outline: 3px solid var(--amethyst-color);
  }
  &:active {
    background-color: var(--amethyst-color);

  }
}


.card-btns {
  &__counter {
    margin-right: 12px;
  }

  &__add {
    margin-right: 4px;
  }
}

.product-card {
  &__buy-link {
    margin-bottom: 28px;
  }

  &__prod-link svg {
    margin-right: 4px;
    &path {
      stroke: currentColor;
    }
  }

  &__prod-link svg path,
  &__prod-link svg circle,
  &__prod-link svg line,
  &__prod-link svg rect {
    stroke: currentColor;
  }
  &__prod-link svg rect:last-child {
    fill: currentColor;
  }
}



.links-list__item {
  margin-bottom: 9px;
}

.line {
  margin-left: -20px;
  margin-bottom: 24px;
  width: 106%;
  border-bottom: .5px solid #C4C4C4;
}

.top-content {
  margin-bottom: 29px;
}

.bottom-content {
  margin-bottom: 143px;
  &__link-container {
    display:  flex;
    justify-content: center;
    align-items: center;
  }
  &__link {
    margin-bottom: 32px;
  }

}

.gallery {
  &__list {
    display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      grid-template-rows: 1fr 1fr;
      grid-auto-flow: column;
      gap: 15px 15px;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 337px;
  }
  &__card_one {
    grid-area: 1 / 1 / 3 / 3;
  }
  &__card-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: linear-gradient(
    0deg
    , rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));

  }
}

.card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  &__btn {
    top: 5px;
    right: 15px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
  }
  &__icon {
    width: 50px;
    height: 50px;
    margin-top: auto;
    background-color: red;
  }
  &__like-icon {
    width: 50px;
    height: 50px;
    background-color: red;
  }
  &__like-counter {
    margin-top: auto;
    display: inline-flex;
    align-items: center;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 0 142px
}

.sub-form {
  width: 39%;
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    display: block;
    margin-bottom: 34px;
  }
  &__input {
    padding: 14px 13px;
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid var(--grey-color);
  }
  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    min-height: initial;
    border: 1px solid var(--black-color);
    padding: 7px 24px;
    outline: none;
    transition: background-color var(--time-anim), opacity var(--time-anim);
    &:hover {
      background-color: var(--amethyst-color);
      opacity: .7;
    }
    &:focus-visible {
      outline: 2px solid var(--amethyst-color);
    }
    &:active {
      background-color: var(--amethyst-color);
      opacity: 1;

    }
  }
}

.footer-links:nth-child(2) {
  width: 12%;
}
.footer-links {
  &__link {
    text-decoration: initial;
  }
}
