@import '_mixin.scss';
.hero {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 45px;
    min-height: 310px;
    color: var(--color-light-text);
  }
  &__title {
    margin-right: 11px;
    margin-bottom: 14px;
    margin-left: 13px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.12em;
  }
  &__text {
    margin-right: 11px;
    margin-bottom: 18px;
    margin-left: 13px;
    min-height: 86px;
    text-align: center;
    font-weight: normal;
    font-size: 0.75em;
    line-height: 1.3em;
  }
  &__btn {
    margin-top: auto;
    padding: 10px 16px;
    border: 3px solid var(--color-fill);
    border-radius: 100px;
    outline: 2px solid transparent;
    outline-offset: 5px;
    font-weight: bold;
    font-size: 0.75em;
    color: inherit;
    background-color: var(--color-fill);
    @include transition;
  }
  &__btn:focus {
    outline-color: var(--color-light-fill);
  }
  &__btn:active {
    border-color: var(--color-light-fill);
    outline-color: transparent;
    background-color: var(--color-dark-fill);
  }
}

@media (min-width: 480px) {
  .hero {
    &__box {
      align-items: flex-start;
      padding-top: 115px;
      padding-bottom: 115px;
      min-height: 668px;
    }
    &__title {
      margin-right: auto;
      margin-bottom: 13px;
      margin-left: 0;
      max-width: 585px;
      text-align: left;
      font-size: 3em;
      line-height: 1.125em;
    }
    &__text {
      margin-right: auto;
      margin-left: 0;
      max-width: 661px;
      text-align: left;
      font-weight: bold;
      font-size: 1.125em;
      line-height: 1.725em;
    }
    &__btn {
      margin-right: auto;
      padding: 22px 32px;
      font-size: 1.125em;
      line-height: 1.125em;
    }
  }
}
@media (min-width: 750px) {
  .hero{
    &__box {
      padding-top: 115px;
      padding-bottom: 115px;
      min-height: 668px;
    }
    &__title {
      font-size: 4.5em;
      line-height: 1.125em;
    }
  }
}

@media (min-width: 1025px) {
  .hero {
    min-height: 630px;
    &__box {
      padding-top: 73px;
      padding-bottom: 122px;
      min-height: 630px;
    }
    &__title {
      margin-bottom: 20px;
      font-size: 4.5em;
      line-height: 1.125em;
    }
    &__text {
      max-width: 610px;
    }
    &__btn:hover {
      border-color: var(--color-light-fill);
      outline-color: transparent;
    }
  }
}
