// burger
.burger {
  --burger-width: 25px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--color-white);
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  z-index: 3;
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, width 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger span {
  width: 80%;
}
.burger::after {
  width: 60%;
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
.burger--active {
  transform: scale(0.7) translateX(-6px);
}
.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, width 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  width: 100%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, width 0.3s ease-in-out;
}
// .burger--active .burger__line {
//   transform: scale(0);
//   transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
// }

.burger:focus::after {
  opacity: 1;
}

.header__row-box .burger--active .burger__line {
  position: absolute;
  z-index: 2;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 26px;
  border-radius: 5px;
  background-color: rgba($color: #000000, $alpha: 0.8);

}
// валидация формы
// класс всплывающего предупреждения
.js-validate-error-label {
  background: transparent;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: #D11616;
}
div .js-validate-error-field {
  border-color: #D11616;
}
[class*="ground-pane"] {
  filter: grayscale(1);
}
// tooltip
.tooltip {
  position: relative;
  display: inline-flex;
  max-width: 16px;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}
.tooltip path {
  @include transition;
}
.tooltip:focus path:first-child {
  fill: var(--color-light-fill);
}
.tooltip:active path:first-child {
  fill: var(--color-fill);
}
.tooltip:active path:last-child {
  fill: var(--color-light-text);
}
.tippy-box[data-theme~='castom-tooltip'] {
  padding: 7px 17px 8px 14px;
  border-radius: 0;
  max-width: 163px;
  text-align: center;
  font-size: 1em;
  line-height: 2em;
  color: var(--color-light-text);
  background-color: var(--color-fill);
}
.tippy-box[data-theme~='castom-tooltip'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--color-fill);
}
.tippy-box[data-theme~='castom-tooltip'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--color-fill);
}
.tippy-box[data-theme~='castom-tooltip'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--color-fill);
}
.tippy-box[data-theme~='castom-tooltip'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--color-fill);
}


@media (min-width: 480px) {
  .burger--active {
    transform: scale(1) translateX(-2px);
  }
  .header__row-box .burger--active .burger__line {
    position: absolute;
    z-index: 2;
    top: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0.8);
  }
}
@media (min-width: 769px) {
  .burger:hover span {
    width: 60%;
  }
  .burger:hover::after {
    width: 30%;
  }
  .burger--active:hover::after,
  .burger--active:hover span {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .tooltip:hover path:first-child {
    fill: var(--color-light-fill);
  }
}
// плавный скролл
body, .smooth-container { scroll-behavior: smooth }
