<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script defer src="scrypt.js"></script>
</head>
<body>
  <div id="app">
    <h1>
      {{title}}
      <like-button></like-button>
      <dislike-button></dislike-button>
    </h1>
    <div>
        <div v-if="count() == 0">Вы великолепны!</div>
        <div v-else-if="count() == 1">Остался последний рывок</div>
        <div v-else>
          {{subtitle}} <span class="counter">{{count()}}</span>
        </div>
        <like-button></like-button>
        <dislike-button></dislike-button>
      </div>
      <div class="list">
        <div class="item" :class="{done: task.done}" v-for="task in tasks">
          <input type="checkbox" v-model="task.done">
          {{ task.text }}
          <like-button></like-button>
          <dislike-button></dislike-button>
        </div>
      </div>
      <form class="form" @submit="addTask" @submit.prevent="onSubmit">
        <input v-model="message">
        <button type="button" @click="addTask" @submit="addTask">Добавить</button>
        <like-button></like-button>
        <dislike-button></dislike-button>
      </form>
      <transition name = "fadeTest">
        <img class="img" v-show="count() == 0" src="https://fsd.multiurok.ru/html/2017/04/17/s_58f459dacaf65/img44.jpg" alt="тестовое изображение">
      </transition>
  </div>
</body>
</html>