@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/open-sans-v20-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/open-sans-v20-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v27-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --color-light: #FFFFFF;
  --color-black: #333333;
  --color-bg: #000;
  --color-graph: #CCB26E;
  --color-twin: #f00101;
  --color-twin-inactive: #ff5e00c0;
}

* {
  box-sizing: border-box;
  margin: 0;
  background-repeat: no-repeat;
}

body {
  font-size: 14px;
  line-height: 19px;
  font-family: 'Open Sans';
  color: var(--color-twin);
  background-color: #424242;
}

.link-reset {
  outline: none;
  line-height: 1;
  color: inherit;
  text-decoration: none;
  text-align: center;
}


.text {
  font-family: 'Open Sans';
  font-size: 16px;

}

.nav {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  padding: 3px 3px;
  margin: 0;
  color: var(--color-twin);
  outline: none;
}

.btn:focus-visible {
  background-color:#f001015d;
}

.link-reset:focus-visible {
  background-color: #f001015d;
}

.btn:nth-child(1) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.btn:nth-child(2) {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.btn svg {
  width: 16px;
  height: 16px;
}

.btn svg path {
  fill: currentColor;
}

.btn svg g polygon {
  fill: currentColor;
}

.btn:nth-child(2) svg {
  width: 11px;
}

.btn:not(:last-child) {
  margin-right: -1px;
}

.btn-group {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-group-prev {
  transform: rotate(180deg);
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 1024px;
  border: 2px solid var(--color-twin);
  background-color: var(--color-bg);
}

.post {
  padding-top: 25px;
}

.back-to-list {
  display: inline-flex;
  margin-bottom: 25px;
  text-decoration: underline;
  font-size: 16px;
  line-height: 150%;

}



.title {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  color: var(--font-color);
}

.main-title {
  display: inline-flex;
  margin: 0 auto;

}

.flex {
  display: flex;
  flex-direction: column;
}

.list-reset {
  padding: 0;
  list-style: none;
}

.nav__list {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  min-width: 251px;
  color: white;
}

.nav__item {
  outline: none;
  color: red;
}

.nav__item:not(:last-child) {
  margin-right: 10px;
}

.nav__item--active {
  background: rgb(124, 101, 101);
}

.btn-disabled {
  cursor: none;
}

.btn[disabled='disabled'] {
  opacity: .65;
}


.articles__list {
  display: flex;
  flex-direction: column;
  min-height: 780px;
}


.articles__item {
  margin-bottom: 20px;
}

.articles__link {

  text-decoration: underline;
}

.post-title {
  margin-bottom: 25px;
  max-width: 920px;
  font-size: 40px;
  line-height: 100%;

}

.post-text {
  line-height: 120%;
  max-width: 920px;
  margin-bottom: 25px;
  color: var(--color-twin-inactive);
}

.comments-title {
  font-size: 24px;
  color: var(--color-twin-inactive);
}

.post__comments__title {
  font-size: 36px;
}

.post__comments__list {
  display: flex;
  flex-direction: column;
}

.post__comments__Item {
  display: inline-flex;
  flex-direction: column;
  margin: 10px 0;
}
.post__comments__text {
  font-size: 19px;
}

